body {
  font-family: Arial, sans-serif;
  font-size: 16px;

  &.xs {
    background-color: aquamarine;
  }
  &.sm {
    background-color: lightgoldenrodyellow;
  }
  &.md {
    background-color: antiquewhite;
  }
  &.lg {
    background-color: burlywood;
  }
  &.xl {
    background-color: coral;
  }
}
